*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(97, 106, 107);
}
.title-pag-principal{
    font-size: 3vw;
    color: rgb(39, 55, 70);
    text-align: center;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 10px;
    align-items: center;
    row-gap: 5px;
}
.productos-card{
    border: 3px solid black;
    border-radius: 3vw;
    width: 30vw;
    height: 30vh;
    justify-items: center;
    align-content: center;
    background-color: rgb(39, 55, 70);
}
.img-ropa{
    width: 15vw;
    height: 15vh;
}
.h3-prod{
    text-decoration: underline;
}

.p-prod{
    color: red;
}

.productoAgregar{
    width: 10vw;
    height: 3vh;
    background-color: whitesmoke;
}





